*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #1f1f1f; 
    --blue: #3a6de7;
    --light-blue-text: #2083D4;
    --light-grey: #bebcbb; 
    --dark-blue: #161c3b; 
    --red: #cd3d0f; 
    --grey-text: #737373;
    --lavish-white: #d9dadc;
    --blue-footer: #00439C;
    --blue-button: #015499;
    --white100: #ffffff;
    --black100: #000000;

    --gg-fs-10: 10px;
    --gg-fs-smaller: 12px;
    --gg-fs-small: 14px;
    --gg-fs-15: 15px;
    --gg-fs-18: 18px;
    --gg-fs-medium: 20px;
    --gg-fs-medium-large: 22px;
    --gg-fs-large: 25px;
    --gg-fs-larger: 30px;
    --gg-fs-35: 35px;
    --gg-fs-36: 36px;
    --gg-fs-38: 38px;
    --gg-fs-50: 50px;
    --gg-fs-60: 60px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* GENERAL */
.highlight::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--blue);
    position: absolute;
    bottom: 5px;
    opacity: 0;
    transition: opacity .2s ease-in-out, transform .5s ease-in-out;
}

.highlight:hover::after{
    opacity: 1;
    transform: translate(0, 3px);
}

ul{
    list-style: none;
}

.sony-bar{
    height: 35px;
}

.my-btn{
    display: inline-block;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 0 0 4px var(--white),
                inset 0 0 0 2px var(--blue);
    transition: box-shadow .3s ease-in-out;
}

.my-btn.red{
    box-shadow: 0 0 0 4px var(--black),
                inset 0 0 0 2px var(--red);
}

.my-btn.white{
    box-shadow: 0 0 0 4px var(--dark-blue),
                inset 0 0 0 2px var(--white100);
}

.my-btn.grey{
    box-shadow: 0 0 0 4px var(--light-grey),
                inset 0 0 0 2px var(--lavish-white);
}

.my-btn:hover{
    box-shadow: 0 0 0 4px var(--blue),
                inset 0 0 0 2px var(--white100);
}

.my-btn.red:hover{
    box-shadow: 0 0 0 4px var(--red),
                inset 0 0 0 2px var(--black100);
}

.my-btn.white:hover{
    box-shadow: 0 0 0 4px var(--white100),
                inset 0 0 0 2px var(--dark-blue);
}

.my-btn.grey:hover{
    box-shadow: 0 0 0 4px var(--lavish-white),
                inset 0 0 0 2px var(--light-grey);
}

.gg-text-blue{
    color: var(--blue);
}
/* MY WIDTHS */

.gg-w-60{
    width: 60%;
}

.gg-w-90{
    width: 90%;
}

/* MY FONTS */

.gg-fs-smaller{
    font-size: var(--gg-fs-smaller);
}

.gg-fs-15{
    font-size: var(--gg-fs-15);
}

.gg-fs-medium{
    font-size: var(--gg-fs-medium);
}

.gg-fs-medium-large{
    font-size: var(--gg-fs-medium-large);
}

.gg-fs-larger{
    font-size: var(--gg-fs-larger);
}

.gg-fs-35{
    font-size: var(--gg-fs-35);
}

.gg-fs-38{
    font-size: var(--gg-fs-38);
}

/* BG COLORS */

.gg-bg-black{
    background-color: var(--black);
}

.gg-bg-lightgrey{
    background-color: var(--light-grey);
}

.gg-bg-blue{
    background-color: var(--blue);
}

.gg-bg-darkblue{
    background-color: var(--dark-blue);
}

.gg-bg-red{
    background-color: var(--red);
}

.gg-bg-white{
    background-color: var(--lavish-white);
}

.gg-bg-blue-btn{
    background-color: var(--blue-button);
}

.gg-bg-blue-footer{
    background-color: var(--blue-footer);
}

/* HEADER */

header nav .nav-link{
    color: var(--black100);
}

.gg-dropdown{
    width: 100vw;
    position: absolute;
    left: 0;
    transform: translate(0, -3px);
}

header nav .gg-dropdown-item{
    text-decoration: none;
    color: var(--black100);
    padding: 10px;
}

/* MAIN */

main #hero .jumbotrone{
    background-image: url("../img/jumbo-bg.png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

main #hero .jumbotrone .row{
    padding: 350px 0 80px;
}

main #hero2 .jumbotrone{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

main #hero2 .jumbotrone .row{
    padding: 80px 0 80px;
}

/* FOOTER */

footer .shared-nav-ps-logo{
    fill: var(--white100);
    width: 90px;
    height: 90px;
}

footer .user-location{
    height: 30px;
}

footer ul li a{
    color: var(--white100);
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

footer .sie-logo{
    height: 50px;
}