*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #1f1f1f; 
    --blue: #3a6de7;
    --light-blue-text: #2083D4;
    --light-grey: #bebcbb; 
    --dark-blue: #161c3b; 
    --red: #cd3d0f; 
    --grey-text: #737373;
    --lavish-white: #d9dadc;
    --blue-button: #015499;
    --white100: #ffffff;
    --black100: #000000;

    --gg-fs-10: 10px;
    --gg-fs-smaller: 12px;
    --gg-fs-small: 14px;
    --gg-fs-15: 15px;
    --gg-fs-18: 18px;
    --gg-fs-medium: 20px;
    --gg-fs-large: 25px;
    --gg-fs-larger: 30px;
    --gg-fs-36: 36px;
    --gg-fs-38: 38px;
    --gg-fs-50: 50px;
    --gg-fs-60: 60px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


/* GENERAL */
.highlight::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--blue);
    position: absolute;
    bottom: 3%;
    opacity: 0;
    transition: opacity .2s ease-in-out, transform .5s ease-in-out;
}

.highlight:hover::after{
    opacity: 1;
    transform: translate(0, 5px);
}


/* MY FONT COLORS */

/* MY WIDTHS */

.gg-w-60{
    width: 60%;
}

/* MY FONTS */

.gg-fs-15{
    font-size: var(--gg-fs-15);
}

.gg-fs-medium{
    font-size: var(--gg-fs-medium);
}

.gg-fs-38{
    font-size: var(--gg-fs-38);
}

/* BG COLORS */

.gg-bg-black{
    background-color: var(--black);
}

.gg-bg-lightgrey{
    background-color: var(--light-grey);
}

.gg-bg-blue{
    background-color: var(--blue);
}

.gg-bg-darkblue{
    background-color: var(--dark-blue);
}

.gg-bg-red{
    background-color: var(--red);
}

.gg-bg-white{
    background-color: var(--lavish-white);
}

.gg-bg-blue-btn{
    background-color: var(--blue-button);
}

/* HEADER */

header nav .nav-link{
    color: var(--black100);
}

/* MAIN */

main #hero .jumbotrone{
    height: 650px;
    background-image: url("../img/jumbo-bg.png");
    background-position: center top;
}

main #hero2 .jumbotrone{
    min-height: 700px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center top;
    background-size: cover;
}


